<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-edit"></i>修改密码</div>
        <div class="alert" ng-if="messageStatus != null"
             ng-class="{true:'alert-success',false:'alert-danger'}[messageStatus]">
            {{message}}
        </div>
        <div class="mine-content">
            <form class="form-horizontal" name="userForm">
                <table class="table">
                    <tbody>
                    <tr>
                        <td width="100" class="mine-title-td warning">旧密码</td>
                        <td width="210" class="mine-title-td">
                            <input type="password" ng-pattern="/^\w{1,20}$/" name="oldPassword"
                                   ng-model="user.oldPassword" ng-change="clearError()" style="width: 200px;" class="form-control input-sm"
                                   placeholder="旧密码" required/>
                        </td>
                        <td id="error_td_old">
                            <mine-validator class="mine-validator" right="true" valid="userForm.oldPassword.$valid"
                                            when="userForm.oldPassword.$dirty"
                                            error="长度20位以内"></mine-validator>
                        </td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">新密码</td>
                        <td><input type="password" ng-pattern="/^\w{1,20}$/" name="newPassword"
                                   ng-model="user.newPassword" style="width: 200px;" class="form-control input-sm"
                                   placeholder="新密码" required/></td>
                        <td>
                            <mine-validator class="mine-validator" right="true" valid="userForm.newPassword.$valid"
                                            when="userForm.newPassword.$dirty"
                                            error="长度20位以内"></mine-validator>
                        </td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">确认密码</td>
                        <td><input type="password" ng-pattern="/^\w{1,20}$/" ng- ng-model="user.submitPassword" name="submitPassword" style="width: 200px;"
                                   class="form-control input-sm" placeholder="确认密码" required/></td>
                        <td>
                            <span ng-if="user.newPassword == user.submitPassword">
                            <mine-validator class="mine-validator" right="true" valid="userForm.submitPassword.$valid"
                                            when="userForm.submitPassword.$dirty"
                                            error="长度20位以内"></mine-validator>
                                 </span>

                            <span class='help-inline' style='color:#a94442;'
                                  ng-show='userForm.submitPassword.$dirty && (user.newPassword != user.submitPassword)'>
                                <i class='fa fa-exclamation-circle'></i>
                                <span class='message'>两次输入密码不一致</span>
                            </span>
                        </td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td class="warning"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="submit()" ng-disabled="userForm.$invalid || (user.newPassword != user.submitPassword)">
                                确认
                            </button>
                        </td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
</div>