<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:demo="http://com.demo.spring/schema/people"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://com.demo.spring/schema/people http://com.demo.spring/schema/demo.xsd">
    <demo:people id="demoPeople" name="facheng" age="27"/>
</beans>