.layout-content{
    width: 1100px;
    margin: 10px auto;
    display: table;
}

.layout-content-left{
    width: 20%;
    float: left;
    display: table;
}

.layout-content-right{
    width: 80%;
    display: table;
    overflow: scroll;
}

.layout-menu{
    margin-bottom: 15px;
    margin-right: 10px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}

.layout-menu-title{
    background-color: #f7f7f7;
    border-top: none;
    padding: 8px 8px;
    font-weight: bold;
}

.layout-menu > a{
    width: 100%;
    display: block;
    padding: 10px 10px;
    border-top: 1px solid #eee;
    font-size: 13px;
    text-decoration: none;
}

.layout-menu > .selected{
    font-weight: bold;
    color: #222;
    border-left: 2px solid orange;
}

.layout-menu > a:hover{
    background-color: #f9f9f9;
    text-decoration: none;
}

.layout-content-title{
    line-height: 30px;
    color: #444444;
    font-size: 14px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom:5px;
}