<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/datetimepicker/css/jquery.datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/nprogress/nprogress.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout_comm.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout_otms.css}"/>

    <script th:src="@{/plugins/jquery/jquery-1.8.3.min.js}"/>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"/>
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table.min.js}"/>
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"/>
    <script th:src="@{/plugins/datetimepicker/js/jquery.datetimepicker.full.min.js}"/>
    <script th:src="@{/plugins/nprogress/nprogress.js}"/>
    <script th:src="@{/js/mine-jquery.js}"/>
    <script th:src="@{/js/layout-otms.js}"/>
</head>
<body>

<header th:></header>
</body>

</html>