<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/datetimepicker/css/jquery.datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/nprogress/nprogress.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout_comm.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>

    <script th:src="@{/plugins/jquery/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/plugins/datetimepicker/js/jquery.datetimepicker.full.min.js}"></script>
    <script th:src="@{/plugins/nprogress/nprogress.js}"></script>
    <script th:src="@{/js/mine-jquery.js}"></script>
    <script th:src="@{/js/layout-otms.js}"></script>
    <script th:src="@{/js/customize.min.js}"></script>
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>
</head>
<body>
<header th:include="../templates/header :: header"></header>
<div class="container-fluid">
    <div class="row">
     <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="/users">用户管理</a></li>
        </ul>
     </div>

     <!--<div class="container-fluid">-->
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div layout:fragment="layout-content-title" class="layout-content-title"></div>
        <div layout:fragment="layout-content-body"></div>
     </div>
    </div>
</div>
</body>
</html>