<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/datetimepicker/css/jquery.datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/nprogress/nprogress.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout_comm.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>

    <script th:src="@{/plugins/jquery/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/plugins/datetimepicker/js/jquery.datetimepicker.full.min.js}"></script>
    <script th:src="@{/plugins/nprogress/nprogress.js}"></script>
    <script th:src="@{/js/mine-jquery.js}"></script>
    <script th:src="@{/js/layout-otms.js}"></script>
</head>
<body>
<header th:include="../templates/header :: header"></header>
<div class="layout-content">
    <div class="layout-content-left">
        <nav class="layout-menu">
            <div class="layout-menu-title">HELLO WORLD</div>
            <a href="/users">USER</a>
        </nav>
    </div>

    <div class="layout-content-right">
        <div layout:fragment="layout-content-title" class="layout-content-title"></div>
        <div layout:fragment="layout-content-body"></div>
    </div>
</div>
</body>
</html>