<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong610.mapper.RoleResourcesMapper">
	<!-- 开启缓存 -->
	<!-- <cache type="com.hong610.redis.LoggingRedisCache" /> -->

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, role_id, role_id, created_time, modified_time, status, is_delete
	</sql>

</mapper>