<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel='stylesheet' th:href='@{/lib/angular/loadingbar/loading-bar.css}' type='text/css' media='all'/>

    <script th:src="@{/lib/angular/angular.min.js}"></script>
    <script th:src="@{/lib/angular/loadingbar/loading-bar.js}"></script>
    <script>
        var login = angular.module('loginApp', ['angular-loading-bar']);
        login.controller('loginCtl', function ($scope, $http) {
            $scope.login = function (valid) {
                if (!valid) {
                    return;
                }
                $http.get("login", {params: $scope.user}).then(function successCallback(response) {
                    if (response.data.status == "1000") {
                    } else {
                        $scope.message = response.data.message;
                    }
                });
            };
        });
    </script>
</head>
<body>
<div class="content">
    <div class="login">
        <!--<div class="login-top">-->
            <!--<img height="40" th:src="@{/icons/logo_login.png}">-->
        <!--</div>-->
        <div style="margin-left: 90px;margin-top: 60px" ng-app="loginApp" ng-controller="loginCtl">
            <span th:if="${session.login_error != null}" style="color: red" th:text="${session.login_error}">error</span>
            <br/>
            <form class="form-horizontal" name="loginForm" th:action="@{/login}" th:method="POST">
                <div class="input-group col col-sm-9">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control input-sm" id="inputAccount" placeholder="用户名"
                           name="username" required/>
                </div>
                <br/>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control input-sm" id="inputPassword" placeholder="密码"
                           name="password" required/>
                </div>
                <br/>
                <div class="input-group col-sm-9">
                    <button class="btn btn-sm" ng-click="login(loginForm.$valid)" style="background-color: #0f0f0f;width:100%" ng-disabled="loginForm.$invalid">登录
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<div class="content-foot"></div>
</body>
</html>