<div class="app-navbar">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash;<div class="logo"></div>&ndash;&gt;-->
        <!--</div>-->
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <!--<ul class="nav navbar-nav mine-navbar-right">-->
                <!--<li>-->
                    <!--<a href="javascript:void(0);" title="我的消息">-->
                        <!--<i class="fa  fa-envelope-o fa-fw"></i>-->
                        <!--&lt;!&ndash;<span>我的消息<i style="color: orange;font-size: 13px;">(0)</i></span>&ndash;&gt;-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="javascript:void(0);" title="安全退出" ng-click="loginOut()">-->
                        <!--&lt;!&ndash;<i class="fa fa-power-off"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>安全退出</span>&ndash;&gt;-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>