<link rel="stylesheet" type="text/css" href="/assets/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/admin/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/pager.css" />
