
    <script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>