<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$!ResourcesHelper.info($request.getRequestURI())[1]</title>
    #include("common/meta.vm")
    #include("common/css.vm")
</head>
<body>
    <div class="page-container">
        <form action="javascript:;" src="/account/add.json" method="post" class="form form-horizontal" id="add-frm">
            <div class="row cl">
                <label class="form-label col-xs-3"><span class="c-red">*</span>昵称：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" value="" placeholder="昵称" id="nick" name="nick">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><span class="c-red">*</span>用户名：</label>
                <div class="formControls col-xs-8">
                    <input type="text" class="input-text" value="" placeholder="用户名" id="userName" name="userName">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><span class="c-red">*</span>密码：</label>
                <div class="formControls col-xs-8">
                    <input type="password" class="input-text" value="" placeholder="密码" id="password" name="password">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
    #parse("common/js.vm")
    #parse("common/form-js.vm")
    <script type="text/javascript">
        $(function(){
            $("#add-frm").validate({
                rules:{
                    nick:{
                        required:true,
                        minlength:2,
                        maxlength:12
                    },
                    userName:{
                        required:true,
                    },
                    password:{
                        required:true,
                        minlength:6,
                        maxlength:24
                    }
                },
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    account.operate.add(form);
                }
            });
        });
    </script>
</body>
</html>